<!doctype html>
<html>
    <head>
        <div class="jumbotron">
          <center>
            <h1><span class="glyphicon glyphicon-home"></span> Blog </h1>  
            <a href="http://localhost:3000/posts" class="right btn btn-primary .active"><span class="glyphicon glyphicon-home"></span> ホーム</a>
            <a href="http://localhost:3000/posts/new" class="right btn btn-primary .active" role="button"><span class="glyphicon glyphicon-pencil"></span> 投稿する</a>
            <a href="http://localhost:3000/signup" class="right btn btn-primary .active" role="button"><span class="glyphicon glyphicon-user"></span> 書く人の追加</a>
            <a href="http://localhost:3000/users/" class="right btn btn-primary .active" role="button"><span class="glyphicon glyphicon-user"></span> 一覧</a>
          </center>
        </div>
    </head>

<div class="col-xs-2"></div>
<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
        <strong><%= @post.title %></strong>
        
        （<%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分")%>）
        </div>
    
        <div class="panel-body">    	 
          <center>
           <% if @post.image? %>
            <%= image_tag @post.image.url %>
           <% end %>

            <p>
            <%= @post.text %>
            </p>
          </center>

          <p>
          <span class="glyphicon glyphicon-pencil"></span> コメント </p>
          <ul>
          <% if @post.comments.any? %>
            <% @post.comments.each do |comment| %>
              
              <li>
              <%= comment.body %> (by <%= comment.commenter %>)

                <%= link_to "削除", [comment.post, comment],
                        :confirm => "本当に削除してもよろしいですか?",
                        :method => :delete,
                        :remote => true %>     
              </li>
              
            <% end %>
          <% else %>
            <p>まだコメントはありません</p>
          <% end %>
        </ul>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
        <center>
        <span class="glyphicon glyphicon-pencil"></span> コメントを書く
        </center>
        </div>
        <div class="panel-body">
        <center>
        <%= form_for([@post, @comment]) do |f| %>
            <% if @comment.errors.any? %>
                <ul>
                    <% @comment.errors.full_messages.each do |msg| %>
                    　　<li><%= msg %></li>
                    <% end %>
                </ul>
            <% end %>

            <div class = "field">
                <p><%= f.label :commenter %></p>
                <%= f.text_field :commenter, :size=>"40" %>
            </div>

            <div class = "field">
                <p><%= f.label :comment %></p>
                <%= f.text_area :body, :size=>"50x10"%>
            </div>

            <div class = "actions">
                <%= f.submit :投稿する %>
            </div>
        <% end %>
        </center>
        </div>
    </div>

</html>

